* {
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

configure, render {
    overflow: hidden;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
}

img#configure {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;
}

statistics {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.fps, .latency {
    position: relative;
    display: block;
}

body.configuration {
    configure {
        background: #DF298A;
    }
    render, statistics {
        visibility: hidden;
    }
}

button,
input[type='file'],
input[type='submit'],
input[type='file'],
.button {
    display: inline-block;
    padding: 1rem;
    background: #0099cc;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-bottom: 10px;
    -webkit-appearance: none;
    
    &::before, &:active::before {
        visibility: hidden;
    }
}

::-webkit-file-upload-button {
    visibility: hidden;
}

.uploadLabel {
    display: block;
    input[type="file"] {
        position: fixed;
        top: -1000px;
    }
}

/* /master styling */

body.master {
    background: #ececec;
    text-align: center;

    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        #configure {
            background: #a300cc;
        }
    }
}